.welcome-message {
  background-color: #BD3803;
  padding: 20px;
  font-size: 25px;
  color: whitesmoke;
}

div {
  background-color: whitesmoke;
}

.header-group {
  padding: 10px;
  padding-left: 20px;
  color: #BD3803;
}

.header-button {
  padding-left: 5px;
  color: whitesmoke;
  background-color: #BD3803;
  border-color: black;
}

.map-button {
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
  background-color: #BD3803;
  border: 1px solid;
  border-color: black;
}

.header-name {
  padding-left: -5px;
  padding-bottom: 10px;
}

#map {
  justify-self: center;
  padding-top: 20px;
  display: flex;
  width: 600px;
  height: 600px;
}

.login-signup {
  padding: 4px;
  color: whitesmoke;
  background-color: #BD3803;
  border: 1px solid;
  border-color: black;
}