.login-signup, .header-group {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  flex-direction: row;
  box-sizing: border-box;
  background-size: unset;
  position: relative;
  overflow: hidden;
  background-image: asset-url("mountain.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-button, .header-button {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  margin: 15px;
  font-size: 18px;
  background-color: #fc4c02;
  text-decoration: none;
  color: black
}

.login-signup-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  height: 30px;
  width: 100px;
  font-size: 18px;
  background-color: #fc4c02;
  text-decoration: none;
  color: black;
  border-radius: 15px;
}

.header-name {
  color: whitesmoke;
}

#map {
  justify-self: center;
  padding-top: 20px;
  display: flex;
  width: 600px;
  height: 600px;
}

.div-container {
  margin: auto;
  color: whitesmoke;
}

.greeting-text {
  margin: auto;
  color: whitesmoke;
}