.login-form-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: unset;
  background-image: asset-url('rowing.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-form-box {
  padding-top: 70px;
  padding-left: 30px;

}

.login-form {

}

.login-username {
  margin-left: 5px;
  width: 199px;
}

.login-password {
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 10px;
  width: 200px;
}

.session-submit {
  margin-left: 80px;
}